<!DOCTYPE html>
<html lang="en-us">
<head>
  <meta http-equiv="content-type" content="text/html; charset=utf-8" />
  <title>{{ page.title }}</title>
  <meta name="author" content="Nicholas Bergson-Shilcock" />

  <!-- syntax highlighting CSS -->
  <link rel="stylesheet" href="/css/syntax.css" type="text/css" />

  <!-- Homepage CSS -->
  <link rel="stylesheet" href="/css/screen.css" type="text/css" media="screen, projection" />
  <link href="/atom.xml" type="application/atom+xml" rel="alternate" title="Nicholas Bergson-Shilcock" />

  <script type="text/javascript">

    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-1916497-1']);
    _gaq.push(['_trackPageview']);

    (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();

  </script>
</head>
<body>

<div class="about">
  <h1 id="site-title">Unschooled</h1>
  <img alt="Nick" src="/images/nick.jpg" />
  <p>Hi, I'm <strong>Nick</strong>. This is my blog. I'm a life-long unschooler living in New York. You can find more about me <a href="http://www.nick.is">here</a>.</p>

  <p>I help run the <a href="http://www.recurse.com/">Recurse&nbsp;Center</a> (YC'S10).</p>

  <p>Follow me <a href="http://twitter.com/nicholasbs">@nicholasbs</a></p>
</div>

<div class="site">
  
  {{ content }}
  
  <div class="footer">
    <div>Forked from: <a href="http://github.com/davidbalbert/davidbalbert.github.com">davidbalbert.github.com</a></div>
  </div>
</div>

</body>
</html>
